<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sftppath" value="/usr/local/restful/sftp/"></add>
    <add key="sftpip" value="10.66.210.30"></add>
    <add key="sftpport" value="22"></add>
    <add key="sftpuser" value="llz"></add>
    <add key="sftppw" value="sftp0000"></add>
    <add key="fmuip" value="10.66.210.30"></add>
    <add key="fmuport" value="8899"></add>
    <add key="fmuuser" value="user1"></add>
    <add key="fmupw" value="hollysys"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>